#cabecera {
    font-style: oblique; font-size: x-large;text-align: center; 
    font-family: Arial, Helvetica, sans-serif;
    color: cyan;
}

#indice {
    text-transform:lowercase ; font-family: Tahoma, sans-serif, Verdana;  
    color: cyan;
}

#pie {
    font-weight: bold; text-align: center;
    color: cyan;  
}

#contenido {
    font-weight: bold;
    color: cyan;
}